@import url("./animations/background-hide.css");
@import url("./animations/weather-carousel.css");
@import url("./common/fonts.css");

@import url("./home/navbar.css");
@import url("./home/header.css");
@import url("./home/current.css");
@import url("./home/personal.css");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}
