@import url("./animations/background-hide.css");
@import url("./common/fonts.css");

@import url("./register/carousel.css");
@import url("./register/information.css");
@import url("./register/form.css");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, #9900ff25, #0091ff25);
  position: relative;
}
