<nav>
  <a href="/" class="nav-logo">
    <img class="nav-logo-image" src="/buttons/logo.png" />
  </a>

  <article class="nav-register-container">
    <a href="" class="nav-register-link login">
      <h4 class="nav-register-link-text">Login</h4>
    </a>

    <a href="" class="nav-register-link create">
      <img class="nav-register-link-image" src="/buttons/profile.png" />
      <h4 class="nav-register-link-text">Create</h4>
    </a>
  </article>
</nav>
