<h2 class="weather-title">YOUR WEATHER STATIONS</h2>

<article class="weather-station-list">
  <% for(let i = 0; i < 1; i++) { %>
  <div class="weather-station">
    <img class="weather-background" src="/home/weather/test-<%= i + 1 %>.jpg" />

    <article class="weather-header">
      <div class="weather-location-block">
        <img class="weather-location-image" src="/home/weather/pin.png" />
        <h2 class="weather-location-name">Panjim</h2>
      </div>

      <div class="weather-details-block-list">
        <article class="weather-details-block">
          <img class="weather-details-image" src="/home/weather/coord.png" />

          <div class="weather-details-container">
            <h3 class="weather-details-type">Coordinates</h3>
            <p class="weather-details-description">10.55 : 44.88</p>
          </div>
        </article>

        <article class="weather-details-block">
          <img class="weather-details-image" src="/home/weather/rain.png" />

          <div class="weather-details-container">
            <h3 class="weather-details-type">Clouds</h3>
            <p class="weather-details-description">Scattered Clouds</p>
          </div>
        </article>
      </div>
    </article>

    <article class="weather-features">
      <div class="weather-card">
        <h2 class="weather-card-title">Temperature</h2>

        <article class="weather-card-main">
          <img class="weather-card-main-image" src="/home/weather/temp.png" />
          <h4 class="weather-card-main-value">32°C</h4>
        </article>

        <hr class="weather-card-divider" />

        <article class="weather-card-sub-list">
          <div class="weather-card-sub">
            <h4 class="weather-card-sub-name">Minimum</h4>
            <h4 class="weather-card-sub-value">30</h4>
            <img class="weather-card-sub-image" src="/home/weather/ltemp.png" />
          </div>

          <div class="weather-card-sub">
            <h4 class="weather-card-sub-name">Maximum</h4>
            <h4 class="weather-card-sub-value">34</h4>
            <img class="weather-card-sub-image" src="/home/weather/htemp.png" />
          </div>

          <div class="weather-card-sub">
            <h4 class="weather-card-sub-name">Feels Like</h4>
            <h4 class="weather-card-sub-value">32</h4>
            <img class="weather-card-sub-image" src="/home/weather/ftemp.png" />
          </div>
        </article>
      </div>

      <div class="weather-points-list">
        <article class="weather-point">
          <h2 class="weather-point-title">Humidity</h2>

          <article class="weather-point-container">
            <img class="weather-point-image" src="/home/weather/humidity.png" />
            <h3 class="weather-point-value">80%</h3>
          </article>
        </article>

        <article class="weather-point">
          <h2 class="weather-point-title">Pressure</h2>

          <article class="weather-point-container">
            <img class="weather-point-image" src="/home/weather/pressure.png" />
            <h3 class="weather-point-value">1009hPa</h3>
          </article>
        </article>

        <article class="weather-point">
          <h2 class="weather-point-title">Winds</h2>

          <article class="weather-point-container">
            <img class="weather-point-image" src="/home/weather/wind.png" />
            <h3 class="weather-point-value">3.6m/s</h3>
          </article>
        </article>

        <article class="weather-point">
          <h2 class="weather-point-title">Clouds</h2>

          <article class="weather-point-container">
            <img class="weather-point-image" src="/home/weather/clouds.png" />
            <h3 class="weather-point-value">20%</h3>
          </article>
        </article>
      </div>

      <div class="weather-card">
        <h2 class="weather-card-title">Current Specific</h2>

        <article class="weather-card-main">
          <img
            class="weather-card-main-image"
            src="/home/weather/visible.png"
          />

          <h4 class="weather-card-main-value">
            <%= 10000 / 1000 %><span class="card-units">Km</span>
          </h4>
        </article>

        <hr class="weather-card-divider" />

        <article class="weather-card-sub-list">
          <div class="weather-card-sub">
            <h4 class="weather-card-sub-name">Minimum</h4>
            <h4 class="weather-card-sub-value">30</h4>
            <img class="weather-card-sub-image" src="/home/weather/temp.png" />
          </div>

          <div class="weather-card-sub">
            <h4 class="weather-card-sub-name">Maximum</h4>
            <h4 class="weather-card-sub-value">34</h4>
            <img class="weather-card-sub-image" src="/home/weather/temp.png" />
          </div>

          <div class="weather-card-sub">
            <h4 class="weather-card-sub-name">Feels Like</h4>
            <h4 class="weather-card-sub-value">32</h4>
            <img class="weather-card-sub-image" src="/home/weather/temp.png" />
          </div>
        </article>
      </div>
    </article>

    <img class="weather-expand-button" src="/buttons/round-down.png" />
    <img class="weather-collapse-button" src="/buttons/round-up.png" />
  </div>
  <% } %>
</article>
