/*-------------------------------------------------*/
/*------------------ FORM STYLES ------------------*/
/*-------------------------------------------------*/

.current-form {
  grid-template-columns: auto;
  justify-content: stretch;
  padding: 2rem 0.5rem;
  border-radius: 2.5px;
  align-items: center;
  position: relative;
  cursor: default;
  display: grid;
  width: 350px;
  gap: 2rem;
}

.current-form-title {
  font-family: "Queenside Light", sans-serif;
  text-shadow: 3px 3px 2px #00000060;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-size: 2.65rem;
  font-weight: 100;
  color: #fff;
}

/*------------------------------------*/
/*----------- INPUT STYLES -----------*/
/*------------------------------------*/

.current-input-block {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.4rem;
}

.current-input-label {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 2.5px 2.5px 2.5px #000;
  font-size: 1.65rem;
  font-weight: 300;
  color: #fff;
}

.current-input {
  box-shadow: 0 2.5px 5px #000000a0;
  font-family: "Poppins", sans-serif;
  transition: border-color 450ms;
  background-color: transparent;
  border: 2px solid #ffffff10;
  padding: 0.25rem 1rem;
  letter-spacing: 0.5px;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.current-input::placeholder {
  transition: opacity 300ms;
  color: #ffffff50;
  font-weight: 300;
  opacity: 1;
}

/*-----------------------------------------*/
/*------------- BUTTON STYLES -------------*/
/*-----------------------------------------*/

.current-button {
  transition: background-color 300ms, translate 200ms;
  box-shadow: 0 2.5px 5px #000000a0;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 40px;
  align-items: center;
  padding: 0.3rem 0;
  display: grid;
  gap: 0 0.5rem;
}

.current-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 300ms;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}

.current-button-image {
  transition: filter 300ms;
  width: 20px;
}

/*-------------------------------------------*/
/*--------------- TRANSITIONS ---------------*/
/*-------------------------------------------*/

.current-input:is(:hover, :focus)::placeholder {
  opacity: 0;
}

.current-button:hover {
  background-color: #fff;
}

.current-button:focus {
  translate: 0 5px;
}

.current-button:hover .current-button-image {
  filter: invert(1);
}

.current-button:hover .current-button-text {
  color: #000;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
