/*----------------------------------------------------*/
/*------------------ FEATURE STYLES ------------------*/
/*----------------------------------------------------*/

.current-station {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  cursor: default;
  display: grid;
}

/*---------------------------------------*/
/*------------ HEADER STYLES ------------*/
/*---------------------------------------*/

.current-header {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

/*---------------------------------------*/
/*----------- LOCATION STYLES -----------*/
/*---------------------------------------*/

.current-header-location {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.current-header-location-image {
  filter: drop-shadow(0 3px 1.5px #000000af);
  width: 40px;
}

.current-header-location-text {
  text-shadow: 0 2.5px 2.5px #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #fff;
}

/*------------------------------------------*/
/*-------------- COORD STYLES --------------*/
/*------------------------------------------*/

.current-header-coordinates {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.current-header-coordinates-block {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.4rem;
}

.current-header-coordinates-image {
  filter: drop-shadow(0 3px 1.5px #000000af);
  width: 50px;
}

.current-header-coordinates-title {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 2.5px 2.5px #000;
  font-size: 1.65rem;
  font-weight: 200;
  color: #fff;
}

.current-header-coordinates-text {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 2.5px 2.5px #000;
  font-size: 1.25rem;
  font-weight: 200;
  color: #9d9d9d;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
