<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/home.css" />
    <title>CloudSense</title>
  </head>

  <body>
    <header id="header">
      <nav>
        <a href="/" class="nav-logo">
          <h4 class="nav-logo-text">CloudSense</h4>
        </a>

        <article class="nav-register-container">
          <a href="" class="nav-register-link">
            <h4 class="nav-register-link-text">Login</h4>
          </a>

          <a href="" class="nav-register-link">
            <h4 class="nav-register-link-text">Create</h4>
          </a>
        </article>
      </nav>

      <article class="header-form-container">
        <div class="header-text-container">
          <h1 class="header-title">CloudSense</h1>

          <p class="header-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
            inventore distinctio provident placeat quia? Doloremque voluptate
            odit magni quod beatae?
          </p>
        </div>

        <form class="header-form" action="" method="post">
          <input
            class="header-form-input"
            autocomplete="off"
            name="city"
            type="text"
            required
          />

          <button class="header-form-button" type="submit">
            <img class="header-form-button-image" src="/buttons/search.png" />
            <h4 class="header-form-button-text">Search</h4>
          </button>
        </form>
      </article>

      <article class="header-features-container">
        <article class="header-features-carousel">
          <% for(let i = 0; i < 4; i++) { %>
          <div class="header-feature-slide">
            <div class="header-feature-point">
              <img
                class="header-feature-point-image"
                src="/home/header/earth.png"
              />
              <h2 class="header-feature-point-text"><%= i %></h2>
            </div>

            <div class="header-feature-point">
              <h2 class="header-feature-point-text"><%= i %></h2>
              <img
                class="header-feature-point-image"
                src="/home/header/earth.png"
              />
            </div>
          </div>
          <% } %>
        </article>

        <div class="header-features-controller-container">
          <% for(let i = 0; i < 4; i++) { %>
          <img class="header-feature-slide-option" src="/home/header/sun.png" />
          <% } %>
        </div>
      </article>

      <img class="header-background" src="/home/header/background.jpg" />
    </header>

    <main>
      <section id="weather">
        <div class="weather-container">
          <article class="weather-header">
            <div class="weather-location-block">
              <img class="weather-location-image" src="/home/weather/pin.png" />
              <h2 class="weather-location-name">Panjim</h2>
            </div>

            <div class="weather-details-block">
              <img class="weather-details-image" src="/home/weather/rain.png" />

              <div class="weather-details-container">
                <h3 class="weather-details-type">Clouds</h3>
                <p class="weather-details-description">Scattered Clouds</p>
              </div>
            </div>
          </article>

          <article class="weather-features">
            <div class="weather-card">
              <h2 class="weather-card-title">Temperature</h2>

              <article class="weather-card-main">
                <img
                  class="weather-card-main-image"
                  src="/home/weather/temp.png"
                />
                <h4 class="weather-card-main-value">32</h4>
              </article>

              <hr class="weather-card-divider" />

              <article class="weather-card-sub-list">
                <div class="weather-card-sub">
                  <h4 class="weather-card-sub-name">Minimum</h4>
                  <h4 class="weather-card-sub-value">30</h4>
                  <img
                    class="weather-card-sub-image"
                    src="/home/weather/temp.png"
                  />
                </div>

                <div class="weather-card-sub">
                  <h4 class="weather-card-sub-name">Maximum</h4>
                  <h4 class="weather-card-sub-value">34</h4>
                  <img
                    class="weather-card-sub-image"
                    src="/home/weather/temp.png"
                  />
                </div>

                <div class="weather-card-sub">
                  <h4 class="weather-card-sub-name">Feels Like</h4>
                  <h4 class="weather-card-sub-value">32</h4>
                  <img
                    class="weather-card-sub-image"
                    src="/home/weather/temp.png"
                  />
                </div>
              </article>
            </div>

            <div class="weather-points-list">
              <article class="weather-point">
                <h2 class="weather-point-title">Humidity</h2>

                <article class="weather-point-container">
                  <img
                    class="weather-point-image"
                    src="/home/weather/humidity.png"
                  />
                  <h3 class="weather-point-value">80%</h3>
                </article>
              </article>

              <article class="weather-point">
                <h2 class="weather-point-title">Pressure</h2>

                <article class="weather-point-container">
                  <img
                    class="weather-point-image"
                    src="/home/weather/pressure.png"
                  />
                  <h3 class="weather-point-value">1009 hPa</h3>
                </article>
              </article>

              <article class="weather-point">
                <h2 class="weather-point-title">Winds</h2>

                <article class="weather-point-container">
                  <img
                    class="weather-point-image"
                    src="/home/weather/wind.png"
                  />
                  <h3 class="weather-point-value">3.6 m/s</h3>
                </article>
              </article>

              <article class="weather-point">
                <h2 class="weather-point-title">Clouds</h2>

                <article class="weather-point-container">
                  <img
                    class="weather-point-image"
                    src="/home/weather/clouds.png"
                  />
                  <h3 class="weather-point-value">20%</h3>
                </article>
              </article>
            </div>

            <div class="weather-card">
              <h2 class="weather-card-title">Temperature</h2>

              <article class="weather-card-main">
                <img
                  class="weather-card-main-image"
                  src="/home/weather/temp.png"
                />
                <h4 class="weather-card-main-value">32</h4>
              </article>

              <hr class="weather-card-divider" />

              <article class="weather-card-sub-list">
                <div class="weather-card-sub">
                  <h4 class="weather-card-sub-name">Minimum</h4>
                  <h4 class="weather-card-sub-value">30</h4>
                  <img
                    class="weather-card-sub-image"
                    src="/home/weather/temp.png"
                  />
                </div>

                <div class="weather-card-sub">
                  <h4 class="weather-card-sub-name">Maximum</h4>
                  <h4 class="weather-card-sub-value">34</h4>
                  <img
                    class="weather-card-sub-image"
                    src="/home/weather/temp.png"
                  />
                </div>

                <div class="weather-card-sub">
                  <h4 class="weather-card-sub-name">Feels Like</h4>
                  <h4 class="weather-card-sub-value">32</h4>
                  <img
                    class="weather-card-sub-image"
                    src="/home/weather/temp.png"
                  />
                </div>
              </article>
            </div>
          </article>

          <img class="weather-background" src="/home/weather/test.jpg" />
        </div>
      </section>
    </main>

    <script src="/Home.js" type="module"></script>
  </body>
</html>
