/*--------------------------------------------------*/
/*----------------- STATION STYLES -----------------*/
/*--------------------------------------------------*/

.personal-station-list {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 2rem 0;
}

.personal-station {
  transition: height 650ms, background-color 650ms;
  box-shadow: 0 0 10px #000000bf;
  background-color: #000000bf;
  grid-template-columns: auto;
  justify-content: center;
  align-items: stretch;
  border-radius: 7.5px;
  position: relative;
  overflow: hidden;
  height: 150px;
  padding: 2rem;
  display: grid;
}

.personal-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*-----------------------------------------*/
/*------------- HEADER STYLES -------------*/
/*-----------------------------------------*/

.personal-header {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

/*-----------------------------------------*/
/*------------ LOCATION STYLES ------------*/
/*-----------------------------------------*/

.personal-header-container {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.personal-header-image {
  filter: drop-shadow(3px 3px 1.5px #00000060);
  width: 50px;
}

.personal-header-text {
  text-shadow: 2.5px 2.5px 2.5px #00000080;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 200;
  color: #fff;
}

/*------------------------------------------*/
/*------------- DETAILS STYLES -------------*/
/*------------------------------------------*/

.personal-header-details {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.25rem;
}

.personal-header-details-image {
  filter: drop-shadow(3px 3px 1.5px #00000060);
  width: 50px;
}

.personal-header-details-title {
  text-shadow: 2.5px 2.5px 2.5px #00000080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #fff;
}

.personal-header-details-text {
  text-shadow: 2.5px 2.5px 2.5px #00000080;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #9d9d9d;
}

/*---------------------------------------*/
/*----------- PERSONAL BUTTON -----------*/
/*---------------------------------------*/

.personal-expand-button,
.personal-collapse-button {
  transition: scale 250ms, opacity 250ms;
  filter: drop-shadow(2.5px 2.5px 0);
  position: absolute;
  cursor: pointer;
  width: 40px;
}

.personal-expand-button {
  margin: 0 auto;
  bottom: 1rem;
  right: 0;
  left: 0;
}

.personal-collapse-button {
  pointer-events: none;
  bottom: 2rem;
  right: 1rem;
  opacity: 0;
}

/*----------------------------------------*/
/*-------------- TRANSITION --------------*/
/*----------------------------------------*/

.personal-expand-button:hover,
.personal-collapse-button:hover {
  scale: 1.1;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
