/*-----------------------------------------------*/
/*----------------- FORM STYLES -----------------*/
/*-----------------------------------------------*/

#personal-form {
  box-shadow: 0 0 10px #000000cf;
  background-color: #000000af;
  grid-template-columns: auto;
  justify-content: stretch;
  border-radius: 7.5px;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

.personal-form-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  inset: 0;
}

/*------------------------------------*/
/*-------------- INPUTS --------------*/
/*------------------------------------*/

.personal-form-inputs {
  justify-content: stretch;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 2rem;
}

.personal-input-block {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.personal-input-label {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 2.5px 5px #00000080;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.personal-input {
  transition: background-color 450ms, border-color 450ms;
  box-shadow: 0 2.5px 5px #00000080;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.25rem 1rem;
  outline: transparent;
  letter-spacing: 1px;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  color: #fff;
}

.personal-input::placeholder {
  transition: opacity 300ms;
  color: #fff;
  opacity: 0.6;
}

.input-inactive {
  background-color: #ffffff10;
  border-color: #ffffff10;
  pointer-events: none;
}

.input-inactive::placeholder {
  opacity: 0;
}

/*----------------------------------------*/
/*-------------- CONTROLLER --------------*/
/*----------------------------------------*/

.personal-form-controller {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.personal-form-buttons {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.personal-form-button {
  box-shadow: 0 2.5px 5px #00000080;
  background-color: transparent;
  transition: translate 150ms;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  padding: 0.25rem 3rem;
  border-radius: 2.5px;
  align-items: center;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  display: grid;
  gap: 0.6rem;
}

.personal-form-button::before {
  background-color: #fff;
  transition: width 350ms;
  position: absolute;
  height: 100%;
  content: "";
  z-index: -1;
  width: 0%;
  bottom: 0;
  left: 0;
  top: 0;
}

.personal-form-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 350ms;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

.personal-form-button-image {
  transition: filter 350ms;
  width: 26px;
}

.personal-form-information {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 2.5px 5px #00000080;
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
}

/*----------------------------------------*/
/*-------------- TRANSITION --------------*/
/*----------------------------------------*/

.personal-input:hover::placeholder {
  opacity: 0;
}

.personal-form-button:focus {
  translate: 0 5px;
}

.personal-form-button:hover::before {
  width: 100%;
}

.personal-form-button:hover .personal-form-button-text {
  color: #000;
}

.personal-form-button:hover .personal-form-button-image {
  filter: invert(1);
}

/*----------------------------------------------*/
/*----------------- END OF CSS -----------------*/
/*----------------------------------------------*/
