/*---------------------------------------------*/
/*---------------- FORM STYLES ----------------*/
/*---------------------------------------------*/

.register-form {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  width: 450px;
  gap: 2rem;
}

/*----------------------------------------*/
/*------------- INPUT STYLES -------------*/
/*----------------------------------------*/

.register-input-container {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.register-input-label {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 1.5px 2px #00000080;
  font-size: 1.65rem;
  font-weight: 300;
  color: #fff;
}

.register-input {
  box-shadow: 0 2.5px 5px #00000080;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.25rem 1rem;
  outline: transparent;
  letter-spacing: 1px;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

/*-----------------------------------------*/
/*------------- BUTTON STYLES -------------*/
/*-----------------------------------------*/

.register-buttons-container {
  grid-template-columns: repeat(2, auto);
  justify-content: stretch;
  align-items: center;
  gap: 1rem 0.65rem;
  display: grid;
}

.register-button {
  box-shadow: 0 2.5px 5px #00000080;
  background-color: transparent;
  transition: translate 125ms;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  position: relative;
  isolation: isolate;
  padding: 0.4rem 0;
  cursor: pointer;
  display: grid;
  gap: 0.6rem;
}

.register-button::before {
  background-color: #fff;
  position: absolute;
  height: 100%;
  content: "";
  z-index: -1;
}

.register-button:nth-of-type(1)::before,
.register-button:nth-of-type(2)::before {
  transition: width 350ms;
  width: 0%;
  left: 0;
}

.register-button:nth-of-type(3)::before {
  transition: width 350ms, opacity 350ms;
  margin: 0 auto;
  opacity: 0;
  width: 5%;
  right: 0;
  left: 0;
}

.register-button:nth-of-type(3) {
  grid-column: span 2;
}

.register-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 350ms;
  letter-spacing: 0.65px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}

.register-button-image {
  transition: filter 350ms;
  width: 20px;
}

/*--------------------------------------*/
/*------------- TRANSITION -------------*/
/*--------------------------------------*/

.register-button:hover::before {
  width: 100%;
}

.register-button:nth-of-type(3):hover::before {
  opacity: 1;
}

.register-button:focus {
  translate: 0 5px;
}

.register-button:hover .register-button-text {
  color: #000;
}

.register-button:hover .register-button-image {
  filter: invert(1);
}

/*----------------------------------------------*/
/*----------------- END OF CSS -----------------*/
/*----------------------------------------------*/
