/*----------------------------------------------------*/
/*---------------- INFORMATION STYLES ----------------*/
/*----------------------------------------------------*/

.register-information {
  grid-template-columns: auto;
  justify-content: center;
  align-items: start;
  display: grid;
  gap: 2rem;
}

/*---------------------------------------*/
/*----------- TITLE CONTAINER -----------*/
/*---------------------------------------*/

.register-title-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.register-title {
  font-family: "Queenside Light", sans-serif;
  text-shadow: 2px 2px 4px #000;
  font-size: 4.5rem;
  font-weight: 100;
  color: #fff;
}

.register-description {
  text-shadow: 2px 2px 4px #00000050;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  font-weight: 300;
  color: #b0b0b0;
  font-size: 1rem;
}

/*--------------------------------------*/
/*---------- POINTS CONTAINER ----------*/
/*--------------------------------------*/

.register-points-container {
  grid-template-columns: auto;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 0.25rem;
}

.register-point {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.register-point-image {
  filter: drop-shadow(2px 2px 4px #000);
  width: 20px;
}

.register-point-text {
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px #000;
  letter-spacing: 0.5px;
  font-weight: 200;
  font-size: 1rem;
  color: #fff;
}

/*----------------------------------------------*/
/*----------------- END OF CSS -----------------*/
/*----------------------------------------------*/
