/*---------------------------------------------*/
/*--------------- NAVBAR STYLES ---------------*/
/*---------------------------------------------*/

#header {
  background-image: linear-gradient(45deg, #620071f0 25%, #00317a 65%);
  box-shadow: 0 5px 10px #000000af;
}

nav {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 4rem;
  display: grid;
}

/*-------------------------------*/
/*--------- LOGO STYLES ---------*/
/*-------------------------------*/

.nav-logo {
  transition: scale 300ms, translate 150ms;
}

.nav-logo-image {
  filter: drop-shadow(2px 2px 4px #000);
  width: 45px;
}

/*-------------------------------*/
/*--------- LINK STYLES ---------*/
/*-------------------------------*/

.nav-link {
  box-shadow: 2.5px 2.5px 5px #00000060;
  transition: translate 150ms;
  border: 2px solid #fff;
  justify-content: center;
  padding: 0.25rem 2.5rem;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 0.5rem;
}

.nav-link::before {
  background-color: #fff;
  transition: width 350ms;
  position: absolute;
  height: 100%;
  content: "";
  z-index: -1;
  width: 0%;
}

.nav-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 350ms;
  letter-spacing: 0.65px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.nav-link-image {
  transition: filter 350ms;
  width: 20px;
}

/*------------------------------------*/
/*------------ TRANSITION ------------*/
/*------------------------------------*/

.nav-logo:hover {
  scale: 1.1;
}

.nav-logo:focus {
  translate: 0 -5px;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:hover .nav-link-text {
  color: #000;
}

.nav-link:hover .nav-link-image {
  filter: invert(1);
}

/*--------------------------------------*/
/*------------- END OF CSS -------------*/
/*--------------------------------------*/
