<nav>
  <a href="/" class="nav-logo">
    <img class="nav-logo-image" src="/buttons/logo.png" />
  </a>

  <% if(username === null) { %>
  <article class="nav-links-container">
    <a href="/account" class="nav-register-link">
      <img class="nav-register-link-image" src="/buttons/profile.png" />
      <h4 class="nav-register-link-text">Register</h4>
    </a>
  </article>
  <% } else { %>
  <div class="nav-username">
    <h4 class="nav-username-text"><%= username %></h4>
  </div>
  <% } %>
</nav>
