<div class="personal-form-inputs">
  <div class="personal-input-block">
    <h4 class="personal-input-label">City</h4>
    <input
      class="personal-input"
      placeholder="Required"
      autocomplete="off"
      required="true"
      name="city"
      type="text"
    />
  </div>

  <div class="personal-input-block">
    <h4 class="personal-input-label">Latitude</h4>
    <input
      class="personal-input"
      placeholder="Optional"
      autocomplete="off"
      name="latitude"
      required="true"
      type="text"
    />
  </div>

  <div class="personal-input-block">
    <h4 class="personal-input-label">Longitude</h4>
    <input
      class="personal-input"
      placeholder="Optional"
      autocomplete="off"
      name="longitude"
      required="true"
      type="text"
    />
  </div>
</div>

<div class="personal-form-controller">
  <article class="personal-form-buttons">
    <button class="personal-form-button" type="submit">
      <h4 class="personal-form-button-text">Create</h4>
      <img class="personal-form-button-image" src="/buttons/eye.png" />
    </button>

    <button class="personal-form-button" type="submit">
      <h4 class="personal-form-button-text">Refresh</h4>
      <img class="personal-form-button-image" src="/buttons/eye.png" />
    </button>
  </article>

  <h4 class="personal-form-information">2 Cities • 2 Coordinates</h4>
</div>

<img class="personal-form-background" src="/home/weather/personal-form.jpg" />
