<% header.forEach((head) => { %>
<div class="current-header-container">
  <img class="current-header-image" src="<%= head.image %>" />
  <h4 class="current-header-text <%= head.class %>"><%= head.value %></h4>
</div>
<% }) %>
