<% points.forEach((point) => { %>
<article class="current-feature-point">
  <h3 class="current-feature-point-title"><%= point.title %></h3>

  <div class="current-feature-point-details">
    <img class="current-feature-point-image" src="<%= point.image %>" />

    <div class="current-feature-point-value <% point.class %>">
      <%= point.value %>
    </div>
  </div>
</article>
<% }) %>
