@import url("./current/current-form.css");

@import url("./current/current-carousel.css");
@import url("./current/current-header.css");
@import url("./current/current-features.css");

#current {
  box-shadow: 0 5px 10px #000000af, 0 -5px 10px #000000af;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  background-color: #00000090;
  padding: 1rem 4rem;
  align-items: start;
  position: relative;
  margin-top: 4rem;
  overflow: hidden;
  display: grid;
  height: 100vh;
}

.current-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
