/*-----------------------------------------------------*/
/*------------------- HEADER STYLES -------------------*/
/*-----------------------------------------------------*/

header {
  grid-template-columns: repeat(2, auto);
  background-color: #000000af;
  justify-content: stretch;
  box-shadow: 0 5px 10px;
  align-items: center;
  position: relative;
  padding: 2rem 6rem;
  overflow: hidden;
  display: grid;
  gap: 4rem 0;
}

.header-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

/*---------------------------------------------*/
/*----------- FORM CONTAINER STYLES -----------*/
/*---------------------------------------------*/

.header-form-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1.5rem;
}

/*-------------------------------------------*/
/*--------------- TEXT STYLES ---------------*/
/*-------------------------------------------*/

.header-title {
  font-family: "Poppins", sans-serif;
  margin-bottom: -0.65rem;
  font-size: 6.5rem;
  font-weight: 200;
  cursor: default;
  color: #fff;
}

.header-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  color: #d2d2d2;
  cursor: default;
}

/*-------------------------------------------*/
/*--------------- FORM STYLES ---------------*/
/*-------------------------------------------*/

.header-form {
  grid-auto-flow: column;
  justify-content: left;
  align-items: stretch;
  display: grid;
  gap: 0.65rem;
}

.header-form-input {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 2px solid #ffffff15;
  padding: 0.5rem 0.5rem;
  border-radius: 2.5px;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  color: #fff;
  width: 20rem;
}

.header-form-button {
  background-color: #ff0040;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  cursor: pointer;
  padding: 0 2rem;
  display: grid;
  border: none;
  gap: 0.5rem;
}

.header-form-button-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.header-form-button-image {
  width: 25px;
}

/*--------------------------------------------------*/
/*------------------- END OF CSS -------------------*/
/*--------------------------------------------------*/
