/*------------------------------------------------*/
/*---------------- WEATHER STYLES ----------------*/
/*------------------------------------------------*/

#weather {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  padding: 2rem 4rem;
  cursor: default;
  display: grid;
  gap: 2rem;
}

.weather-title {
  font-family: "Queenside Regular", sans-serif;
  text-shadow: 2.5px 2.5px 5px #00000060;
  letter-spacing: 2px;
  font-size: 4rem;
  color: #000;
}

/*----------------------------------------------*/
/*--------------- STATION STYLES ---------------*/
/*----------------------------------------------*/

.weather-station-list {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 2rem 0;
}

.weather-station {
  transition: height 650ms, background-color 650ms;
  box-shadow: 4px 4px 10px #00000060;
  background-color: #000000af;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 2rem;
  display: grid;
  height: 180px;
  gap: 5rem 0;
}

.weather-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*--------------------------------------*/
/*----------- WEATHER BUTTON -----------*/
/*--------------------------------------*/

.weather-expand-button,
.weather-collapse-button {
  transition: scale 250ms, opacity 250ms;
  filter: drop-shadow(2.5px 2.5px 0);
  position: absolute;
  cursor: pointer;
  width: 40px;
}

.weather-expand-button {
  margin: 0 auto;
  bottom: 1rem;
  right: 0;
  left: 0;
}

.weather-collapse-button {
  pointer-events: none;
  bottom: 2rem;
  right: 1rem;
  opacity: 0;
}

/*-----------------------------------------*/
/*------------- HEADER STYLES -------------*/
/*-----------------------------------------*/

.weather-header {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

/*-----------------------------------------*/
/*------------ LOCATION STYLES ------------*/
/*-----------------------------------------*/

.weather-location-block {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.weather-location-image {
  filter: drop-shadow(2.5px 2.5px 0 #00000060);
  width: 50px;
}

.weather-location-name {
  text-shadow: 2.5px 2.5px 0 #00000060;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  color: #fff;
}

/*------------------------------------------*/
/*------------- DETAILS STYLES -------------*/
/*------------------------------------------*/

.weather-details-block-list {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0 2rem;
}

.weather-details-block {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1.25rem;
}

.weather-details-image {
  filter: drop-shadow(2.5px 2.5px 0 #00000060);
  width: 80px;
}

.weather-details-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.25rem;
}

.weather-details-type {
  text-shadow: 2.5px 2.5px 0 #00000050;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.weather-details-description {
  text-shadow: 1.5px 1.5px 0 #00000050;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  color: #bababa;
  font-weight: 300;
}

/*----------------------------------------*/
/*-------------- TRANSITION --------------*/
/*----------------------------------------*/

.weather-expand-button:hover,
.weather-collapse-button:hover {
  scale: 1.1;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
